<div class="comparator">
  <div *ngFor="let r of list">
    <ul *ngFor="let c of list">
      <li *ngIf="c!== r">
        <span>
          {{ 'compare.leftPrefix' | translate }}
          {{ r.name }}
          {{ 'compare.leftPostfix' | translate }}
        </span>
        <select 
          class="input"
          *ngIf="c !== r"
          [ngModel]="comparisons?.get(r)?.get(c) || 1"
          (change)="change(r, c, $event.target.value)">
          <option *ngFor="let c of captions" [attr.value]="c.value">
            {{c.caption}}
          </option>
        </select>
        <span>
          {{ 'compare.rightPrefix' | translate }}
          {{ c.name }}
          {{ 'compare.rightPostfix' | translate }}
        </span>
      </li>
    </ul>
  </div>
</div>