<div class="tab-content">
  <h2>
    {{ 'prompts.rating' | translate }}
  </h2>
  <ol *ngIf="rate()" class="rating">
    <li *ngFor="let r of rate()">
      {{ r.alternative.name }}
      <span class="badge"> 
        {{ (r.rate * 100) | number:'1.2-2' }} %
      </span>
    </li>
  </ol>
</div>