<div class="tab-content">
  <h2>
    {{ 'prompts.compareAlternatives' | translate }}
  </h2>

  <div *ngIf="criterias()">
    <div *ngFor="let c of criterias()">
      <h3>{{'prompts.compareBy' | translate}} {{c.name}}</h3>

      <div *ngIf="isDataCorrect(c)" class="alert success">
        {{ 'alerts.alternative.ok' | translate }}
      </div>

      <div *ngIf="isDataCorrect(c) === false" class="alert error">
          {{ 'alerts.alternative.error' | translate }}
      </div>

      <eahr-comparator [list]="alternatives()" [comparisons]="comparisons(c)" [captions]="captions" (onChange)="setComparison(c, $event)">
      </eahr-comparator>
    </div>
  </div>
</div>