<div class="tab-content">
  <h2>
    {{'prompts.alternatives' | translate}}
  </h2>

  <eahr-list [list]="alternatives()" (onAdd)="addAlternative($event)" (onDelete)="deleteAlternative($event)">

  </eahr-list>
</div>