<div class="tab-content">

  <h2>
    {{ 'prompts.criterias' | translate }}
  </h2>
  <eahr-list [list]="criterias()" (onAdd)="addCriteria($event)" (onDelete)="deleteCriteria($event)">

  </eahr-list>

  <h2 *ngIf="criterias() && criterias().length">
      {{ 'prompts.compareCriterias' | translate }}
  </h2>

  <div *ngIf="isDataCorrect()" class="alert success">
      {{ 'alerts.criteria.ok' | translate }}
  </div>

  <div *ngIf="isDataCorrect() === false" class="alert error">
      {{ 'alerts.criteria.error' | translate }}
  </div>


  <div *ngIf="criterias()">
    <eahr-comparator [list]="criterias()" [comparisons]="comparisons()" [captions]="captions" (onChange)="setComparison($event)">
    </eahr-comparator>
  </div>
</div>