<!-- <eahr-l10n></eahr-l10n> -->

<div class="main">
  <nav class="tab-headers">
    <a class="tab-header" routerLink="/criteria" routerLinkActive="active" [class.error]="criteriasOk() === false">
      {{ 'tabTitles.criterias' | translate }}
    </a>
    <a class="tab-header" routerLink="/alternative" routerLinkActive="active">
      {{ 'tabTitles.alternatives' | translate }}
    </a>
    <a class="tab-header" routerLink="/comparison" routerLinkActive="active" [class.error]="alternativesOk() === false">
      {{ 'tabTitles.comparisons' | translate }}
    </a>
    <a class="tab-header" routerLink="/result" routerLinkActive="active" [class.disabled]="!(criteriasOk() && alternativesOk())">
      {{ 'tabTitles.result' | translate }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>