<ol *ngIf="list" class="list">
  <li *ngFor="let l of list">
    {{l.name}}
    <button (click)="delete(l)" class="button small delete">X</button>
  </li>
</ol>
<div class="add-to-list">
  <input type="text" [(ngModel)]="newName" class="input" attr.placeholder="{{ 'list.addPlaceholder' | translate }}" />
  <button (click)="add()" class="button">{{ 'list.addButton' | translate }}</button>
</div>