/* Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

/* Constants */
@fore-color: #333;
@back-color: #fefefe;
@back-back-color: #eee;
@font-size: 12pt;
@width: 980px;

@success-back-color: #d4edda;
@error-back-color: #f8d7da;

@gold-color: #FFD700;
@silver-color: #C0C0C0;
@bronze-color: #cd7f32;

/* Reset */
* {
    margin: 0;
    padding: 0;
    color: @fore-color;
    background: @back-color;
    font-size: @font-size;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* styles */

html, body {
    background: @back-back-color;
    min-height: 101%;
}

body {
    display: flex;
    justify-content: center;
}

.main {
    padding-top: 2em;
    width: @width;
    background: @back-back-color;

    .tab-headers {
        display: flex;
        flex-direction: row;
        background: @back-back-color;
        margin-bottom: -1px;

        .tab-header {
            flex: 1;
            padding: 1em;
            margin: 0 1em;
            border-radius: 1em 1em 0 0;
            border: 1px @fore-color solid;
            text-align: center;
            background: @back-back-color;

            &.active {
                border-bottom: none;
                background: @back-color;
            }

            &.error:not(.active) {
                background: @error-back-color;
            }

            &.disabled:not(.active) {
                background: @error-back-color;
                pointer-events: none;
            }
        }
    }

    .tab-content {
        margin: 0 1em;
        border: 1px solid @fore-color;
        padding: 1em;
        border-radius: 0 0 1em 1em;

        .alert {
            display: block;
            padding: .5em 1em;
            border: 1px solid @fore-color;
            border-radius: 1em;

            &.success {
                background: @success-back-color;
            }

            &.error {
                background: @error-back-color;
            }
        }

        h2 {
            font-size: @font-size * 1.5;
            margin: 1em 0 .5em;
        }

        h3 {
            font-size: @font-size * 1.2;
            margin: 1em 0 .5em;
        }

        ol.list {
            list-style-position: inside;

            li {
                margin: .5em 0;
            }
        }

        .add-to-list {
            margin: 1em 0 2em;
        }

        .comparator {
            div {
                margin: 1em 0;
                ul {
                    list-style: none;
    
                    li {
                        margin: .5em 0;
                    }
                }
            }
            
        }

        .rating {
            list-style-position: inside;
            li {
                margin: 1em 0;
                font-size: @font-size * 1.2;

                &:nth-child(1) .badge {
                    background: @gold-color;
                }

                &:nth-child(2) .badge {
                    background: @silver-color;
                }

                &:nth-child(3) .badge {
                    background: @bronze-color;
                }
            }
        }

        .badge {
            border: 1px solid @fore-color;
            border-radius: 1em;
            padding: .25em .5em;
        }

        .input {
            border: 1px solid @fore-color;
            height: 1.5em;
            line-height: 1.5em;
            padding: 0 .5em;
        }

        .button {
            display: inline-flex;
            height: 1.5em;
            border-radius: 1em;
            border: @fore-color 1px solid;
            padding: 0 1em;
            cursor: pointer;
            background: @back-back-color;

            &.small {
                width: @font-size;
                height: @font-size;
                justify-content: center;
                align-items: center;
                font-size: @font-size / 2;
                border-radius: 100%;
                
            }

            &.delete {
                background: @error-back-color;
            }
        }
    }
}